<html>
<head>
   <title>Laporan Data Buku</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 13px;">
   <h2 style="margin-bottom: 12px;">Laporan Data Buku</h2>
   <table border="1" cellspacing="0" cellpadding="6" style="border-collapse: collapse; width: 100%;">
      <tr>
         <th width="70">Nim</th>
         <th>Nama</th>
         <th>Konsorsium</th>
         <th>Angkatan</th>
      </tr>
      {% for baris in container %}
      <tr>
         <td>{{ baris[0] }}</td>
         <td>{{ baris[1] }}</td>
         <td>{{ baris[2] }}</td>
         <td>{{ baris[3] }}</td>
      </tr>
      {% endfor %}
   </table>
</body>
</html>